.aboutContainer {
  width: 100%;
}

.aboutContainer-inner {
  padding: 100px 0;
  width: 80%;
  margin: 0 auto;
  min-height: 200vh; /* Sæt en minimumshøjde */
  align-content: start; /* Sikrer, at indholdet starter fra toppen */
}
