.historyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-content: start;
  padding-bottom: 5em;
  padding-top: 2em;
}

.historyContainer-inner {
  padding: 100px 0;
  width: 80%;
  margin: 0 auto;
}
