footer {
  background-color: #244c53;
  font-family: Rubik, sans-serif;
  font-size: 0.8rem;
}

.footer-flex-container {
  padding: 30px;
}

.about-container {
  margin-inline: auto;
  width: 100%;
}

.about-p {
  line-height: 1.5;
  margin-top: 10px;
}

.mcdm-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 45%;
  text-align: center;
  margin-inline: auto;
}

.mcdm-info-container {
  margin-top: 5px;
}

.mcdm-logo-img {
  width: 100%;
}

.copyright-container {
  width: 100%;
  background-color: #16363c;
  padding: 15px;
}

.copyright-p {
  font-size: 0.7rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer {
    font-size: 1rem;
  }

  .footer-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 4vh 0;
  }

  .mcdm-container {
    width: 15%;
    text-align: left;
    margin-inline: initial;
  }

  .mcdm-info-container {
    margin-top: 10px;
  }

  .about-container {
    width: 35%;
    margin-inline: initial;
  }

  .copyright-p {
    font-size: 0.9rem;
  }
}
