@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

/* CSS RESET START */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 0.625rem;
}

body {
  font-size: 1.6rem;
}

/* CSS RESET END */

a {
  text-decoration: none;
  color: white;
}
